<div class="container mat-elevation-z8">
    <form action="" class="fomr">
        <h1 class="fullwidth">Cadastrar Empresas</h1>
        <img class="fullwidth" src="assets/img/tecnico-create.svg" alt="Newton - Software de Gestão">

        
          <mat-form-field class="fullwidth" appearance="legacy">
            <mat-label>Nome</mat-label>
            <input
            [(ngModel)]="empresas.nome"
            name="nome"
            [formControl]="nome"
            required
            matInput 
            placeholder="Ex.. Razão Social"
            maxlength="60">
            <mat-icon matSuffix>business_center</mat-icon>
          </mat-form-field>

          <mat-form-field class="fullwidth" appearance="legacy">
            <mat-label>CNPJ</mat-label>
            <input
            [(ngModel)]="empresas.cnpj"
            name="cnpj"
            [formControl]="cnpj"
            required
            matInput 
            placeholder="Ex.. 00.000.000/0000-00" 
            mask="00.000.000/0000-00">
            <mat-icon matSuffix>pin</mat-icon>
          </mat-form-field>

          <mat-form-field class="fullwidth" appearance="legacy">
            <mat-label>CNAE</mat-label>
            <input
            [(ngModel)]="empresas.cnae"
            name="cnae"
            [formControl]="cnae"
            required
            matInput 
            placeholder="Ex.. 0000-0/00" 
            mask="0000-0/00">
            <mat-icon matSuffix>fact_check</mat-icon>
          </mat-form-field>

          <mat-form-field class="fullwidth" appearance="legacy">
            <mat-label>CEP</mat-label>
            <input
            [(ngModel)]="empresas.cep"
            name="cep"
            [formControl]="cep"
            required
            matInput 
            placeholder="Ex.. 1234"
            mask="0000-000">
            <mat-icon matSuffix>room</mat-icon>
          </mat-form-field>

          <mat-form-field class="fullwidth" appearance="legacy">
            <mat-label>Endereço</mat-label>
            <input
            [(ngModel)]="empresas.endereco"
            name="emdereco"
            [formControl]="endereco"
            required
            matInput 
            placeholder="Ex.. Rua... av...">
            <mat-icon matSuffix>home</mat-icon>
          </mat-form-field>

          <mat-form-field class="fullwidth" appearance="legacy">
            <mat-label>Numero</mat-label>
            <input
            [(ngModel)]="empresas.numero"
            name="numero"
            [formControl]="numero"
            required
            matInput 
            type="number"
            placeholder="Ex.. 1234">
            <mat-icon matSuffix>pin_drop</mat-icon>
          </mat-form-field>

          <mat-form-field class="fullwidth" appearance="legacy">
            <mat-label>Municipio</mat-label>
            <input
            [(ngModel)]="empresas.municipio"
            name="municipio"
            [formControl]="municipio"
            required
            matInput 
            placeholder="Ex.. São Paulo, Belo Horizonte...">
            <mat-icon matSuffix>location_city</mat-icon>
          </mat-form-field>

          <mat-form-field class="fullwidth" appearance="legacy">
              <mat-label>Estado</mat-label>
                <mat-select
                [(ngModel)]="empresas.estado"
                name="estado"
                [formControl]="estado"
                matInput 
                >
                <mat-option value="ac">Acre (AC)</mat-option>   
                <mat-option value="al">Alagoas (AL)</mat-option>   
                <mat-option value="am">Amazonas (AM)</mat-option>   
                <mat-option value="ap">Amapa (AP)</mat-option>   
                <mat-option value="ba">Bahia (BA)</mat-option>   
                <mat-option value="ce">Ceara (CE)</mat-option>   
                <mat-option value="df">Distrito Federal (DF)</mat-option>   
                <mat-option value="es">Espirito Santo (ES)</mat-option>   
                <mat-option value="go">Goiáis (GO)</mat-option>   
                <mat-option value="ma">Maranhão (MA)</mat-option>   
                <mat-option value="mt">Mato Grosso (MT)</mat-option>   
                <mat-option value="ms">Mato Grosso do Sul (MS)</mat-option>   
                <mat-option value="mg">Minas Gerais (MG)</mat-option>   
                <mat-option value="pa">Pará (PA)</mat-option>   
                <mat-option value="pb">Paraiba (PB)</mat-option>   
                <mat-option value="pr">Paraná (PR)</mat-option>   
                <mat-option value="pe">Pernanbuco (PE)</mat-option>   
                <mat-option value="pi">Piaui (PI)</mat-option>   
                <mat-option value="rj">Rio de Janeiro (RJ)</mat-option>   
                <mat-option value="rn">Rio Grande do Norte (RN)</mat-option>   
                <mat-option value="ro">Rondônia (RO)</mat-option>   
                <mat-option value="rs">Rio Grande do Sul (RS)</mat-option>   
                <mat-option value="rr">Raraima (RR)</mat-option>   
                <mat-option value="sc">Santa Catarina (SC)</mat-option>   
                <mat-option value="se">Sergipe (SE)</mat-option>   
                <mat-option value="sp">São Paulo (SP)</mat-option>   
                <mat-option value="to">Tocantins (TO)</mat-option>    
                </mat-select>
              </mat-form-field>


          <mat-form-field class="fullwidth" appearance="legacy">
            <mat-label>Telefone</mat-label>
            <input
            [(ngModel)]="empresas.telefone"
            name="telefone"
            [formControl]="telefone"
            matInput 
            placeholder="Ex.. (00)00000-0000"
            mask="(00)00000-0000">
            <mat-icon matSuffix>call</mat-icon>
          </mat-form-field>

          <mat-form-field class="fullwidth" appearance="legacy">
            <mat-label>celular</mat-label>
            <input
            [(ngModel)]="empresas.celular"
            name="celular"
            [formControl]="celular"
            required
            matInput 
            placeholder="Ex.. (00)90000-0000"
            mask="(00)00000-0000">
            <mat-icon matSuffix>smartphone</mat-icon>
          </mat-form-field>

          <mat-form-field class="fullwidth" appearance="legacy">
            <mat-label>E-mail</mat-label>
            <input 
            [(ngModel)]="empresas.email"
            name="email"
            [formControl]="email"
            required
            matInput 
            placeholder="Ex.. nome@email.com">
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>

          <mat-form-field class="fullwidth" appearance="legacy">
            <mat-label>Quantidade de Funcionarios</mat-label>
            <input matInput [(ngModel)]="empresas.funcionarios"
            [formControl]="funcionarios"
            matInput
             type="number"
             placeholder="Ex... 1,2,3">
             <mat-icon matSuffix>groups</mat-icon>
          </mat-form-field>

          <div>
          <mat-form-field class="fullwidth" appearance="legacy">
            <mat-label>Departamentos</mat-label>
            <mat-select 
              name="departamentos"  
              [formControl]="departamentos"
               matInput 
              [(ngModel)]= "empresas.departamentos"
              multiple
              required>
              <mat-option *ngFor="let dep of departamento" value="{{ dep.id }}">{{ dep.nome }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <mat-form-field class="fullwidth" appearance="legacy">
          <mat-label>Atividade Principal</mat-label>
          <input
          [(ngModel)]="empresas.atividadePrincipal"
          name="atividadePrincipal"
          [formControl]="atividadePrincipal"
          required
          matInput 
          placeholder="Ex.. Razão Social"
          maxlength="60">
          <mat-icon matSuffix>info</mat-icon>
        </mat-form-field>


          <mat-form-field class="fullwidth" appearance="legacy">
            <mat-label>Observações</mat-label>
            <textarea
            [(ngModel)]="empresas.observacoes"
            name="observacoes"
            [formControl]="observacoes" 
             matInput
             placeholder="Ex. Alguma anotação relevante do cliente...">
            </textarea>
            <mat-icon matSuffix>edit_note</mat-icon>
          </mat-form-field>

          <button (click)="create()" [disabled]="!validaCampos()" class="fullwidth mat-elevation-z4" mat-flat-button color="primary">Cadastrar</button>
          <button routerLink="../" class="fullwidth mat-elevation-z4" mat-stroked-button color="warn">Cancelar</button>

    </form>

    <p class="fullwidth">By Thaynan</p>
</div>

