<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
      <img src="assets/img/ergo-pride.png" alt="Imagem de Navegação">
      <mat-nav-list class="nav-list">
          <a mat-list-item routerLink="home">
              <i class="material-icons">home</i>
            home
          </a>
          <a mat-list-item routerLink="tecnicos">
            <i class="material-icons">account_circle</i>
          Tecnicos
          </a>
          <a mat-list-item routerLink="clientes">
            <i class="material-icons">person</i>
            Clientes
           </a>
           <a mat-list-item routerLink="empresas">
              <i class="material-icons">work</i>
              Empresas
            </a>
           <a mat-list-item routerLink="departamentos">
              <i class="material-icons">add_home_work</i>
                Departamentos
            </a>
            
           <a mat-list-item routerLink="funcoes">
              <i class="material-icons">engineering</i>
              Funcoes
            </a>
            <a mat-list-item routerLink="aet">
              <i class="material-icons">settings_accessibility</i>
              AET
            </a>
      
    <a mat-list-item (click)="logout()">
      <i class="material-icons">logout</i>
    Logout
  </a>
      </mat-nav-list>
    </mat-drawer>
  
    <div class="sidenav-content">
      <!--Cabeçalho da tela Home-->
      <app-header></app-header>
      <button class="menu mat-elevation-v8" (click)="drawer.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <!--Tela Home é uma classe filha da NAV-->
      <router-outlet></router-outlet>
    </div>
    
  </mat-drawer-container>